body{
    margin: 10px;
    padding: 10px;
    
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.comments-list-container{
    text-align: left;
    margin-top: 0.1rem;
    width: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.comment-card{
    padding-top: 2px ;
    padding-left: 5px;
    padding-bottom: 8px;
    border-radius: 5px;
    border:1px solid deeppink;
}

.btn-primary{
    background-color: #2874f0;
    color: white;
    border-radius: 5px;
    padding:5px 10px;
    cursor: pointer;
    margin-bottom: 3px;
    
}