body{
    margin: 10px;
    padding: 10px;
    
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.comments-list-container{
    text-align: left;
    margin-top: 0.1rem;
    width: inherit;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.comment-card{
    padding-top: 2px ;
    padding-bottom: 2px;
    border-radius: 5px;
    border:1px solid gold;
}

.btn-primary{
    background-color: indianred;
    color: white;
    border-radius: 5px;
    padding:0.1rem;
    cursor: pointer;
    
}