body{
    margin: 0;
    padding: 0;
    background: #F87171;
}

main{
    display: flex;
    justify-content: space-between;
}

.jira-container{
    margin: 5px;
    width: 300px;
    height: 50vh;
    border: 1px solid #B91C1C;
    background-color: #DC2626;
}

.jira-container h3{
    margin: 0;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color:#B91C1C ;
}

.list-item{
    background-color: white;
    border-radius: 3px;
    margin: 5px 2px;
    padding: 0.5rem;
    
}

.form-container{
    max-width: 500px;
    margin: 10px auto;
}
.form-container form{
    display: flex;
    flex-direction: column;
}

.form-container form>*{
    margin-top:5px ;
    padding: 0.5rem;
}