header h1{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background: white;
}

main{
    display: flex;
    justify-content: space-between;
}

.jira-container{
    margin: 5px;
    width: 300px;
    height: 50vh;
    border: 1px solid #1E3A8A;
    background-color: #A5B4FC;
    border-radius: 3px;
}

.jira-container h3{
    margin: 0;
    text-align: center;
    padding: 1rem;
    color: white;
    background-color:#4338CA ;
    
}

.list-item{
    background-color: white;
    border-radius: 3px;
    margin: 5px 2px;
    padding: 0.5rem;
    
}

.form-container{
    max-width: 500px;
    margin: 10px auto;
    border: 2px solid #1E3A8A ;
    padding: 1rem;
    border-radius: 5px;
}
.form-container form{
    display: flex;
    flex-direction: column;
}

.form-container form>*{
    margin-top:5px ;
    padding: 0.5rem;
}

.btn-primary{
    background-color: #4338CA;
    color: white;
    border: none;
    border-radius: 5px;
}

.high{
    border-right: 5px solid #DC2626;
}

.medium{
    border-right: 5px solid #FBBF24;
}

.low{
    border-right: 5px solid #059669;
}